@page
@model WebPractice.Pages.CategoriesModel
@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>
<h3>Сomputer parts</h3>
<ul>
  <li>MotherBoard</li>
  <li>CPU</li>
  <li>GPU</li>
  <li>RAM</li>
  <li>Memory</li>
</ul>

