@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WebPractice Online Store</h1>
    <p>Here you can buy you PC parts</p>
</div>
