@page
@model WebPractice.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<table style="width:100%">
  <tr>
    <th>Product</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>RTX 3090</td>
    <td>2500$</td>
    <td>Powerfull graphic card from Nvidia</td>
  </tr>
  <tr>
    <td>Ryzen 5 5600X</td>
    <td>400$</td>
    <td>Middle CPU from AMD</td>
  </tr>
</table>